<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_01_DAL_HotelReservationAutomation.Properties.Settings.HRO"
            connectionString="Data Source=.;Initial Catalog=HotelReservation;User ID=sa;Password=Garandulu.19"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>